extends ../layout

block content
    .row
        .col-sm-8.offset-sm-2
            .card
                .card-header= 'Edit Furniture: ' + furniture.name
                .card-body
                    form.form.needs-validation(method="POST" action="/furniture/" + furniture.id novalidate)
                        input(type="hidden", name="_method",  value="PUT")
                        input(type="hidden", name='_csrf',value=csrfToken)
                        input(type="hidden", name='furniture[id]',value=furniture.id)
                        include ./_form.pug

append scripts
    script(src='/javascripts/validator.js')
