extends ../layout

block content
    .row
        .col-sm-8.offset-sm-2
            .card
                .card-header New Text
                .card-body
                    form.form.needs-validation(method="POST" action="/text" novalidate)
                        input(type="hidden", name='_csrf',value=csrfToken)
                        include ./_form.pug

append scripts
    script(src='/javascripts/validator.js')
