body {
  padding-top: 5rem;
}

#furnitureList .placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}

#furnitureList .ui-sortable-helper {
    display: table;
}

.popup-indicator{
    border-bottom: 1px black dashed;
}

.furniture-request{
    font-size:10pt;
}
