body {
  padding-top: 5rem;
}
body, .popover {
    font-family: 'Open Sans', sans-serif;
}

.lead, h1, h2, h3, .blockquote, .navbar-brand {
    font-family:  'Open Sans', sans-serif;
}
#furnitureList .placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}

#furnitureList .ui-sortable-helper {
    display: table;
}

.popup-indicator{
    border-bottom: 1px black dashed;
}


.furniture-request{
    font-size:10pt;
}


.report-table {
    font-size: 0.8rem;
}

[aria-expanded="true"] .fa-chevron-down,
[aria-expanded="false"] .fa-chevron-up,
[aria-expanded="true"] .fa-plus,
[aria-expanded="false"] .fa-minus,
[aria-expanded="true"] .expand-text,
[aria-expanded="false"] .expand-text-shown {
    display:none;
}
