body {
  padding-top: 5rem;
}
body, .popover {
    font-family: 'Open Sans', sans-serif;
}

.lead, h1, h2, h3, .blockquote, .navbar-brand {
    font-family:  'Open Sans', cursive;
}
#furnitureList .placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}

#furnitureList .ui-sortable-helper {
    display: table;
}

.popup-indicator{
    border-bottom: 1px black dashed;
}


.furniture-request{
    font-size:10pt;
}


.intercon-menubar {
    font-family: 'Open Sans', cursive;
    background:  #45207C;
    background: -webkit-linear-gradient(to right, #45207C #B767F0);
    background: linear-gradient(to bottom right, #45207C, #B767F0);
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.4);
}
