p.my-1.
    Thanks for filling out this form. This will help us make sure that we're doing everything we can to allow you to run your game on time and seamlessly.
p.my-2.
    Please select each of your functions that you are responsible for, and enter your furniture and food needs, or indicate that you have none.
p.my-2
    strong.mr-1.
        Please Note:
    | Most furniture requests will be merged into a single request per room that meets the needs of all larps in that room for the entire weekend.  We can not provide fully invidual setups for each event.  You may end up with more furniture that you need for your game, if so, please fold it against a wall as best you can.  Before Intercon, we will let you know what furniture will be in each room.
p.my-1.
     A map of the hotel function space is available at the  <a class='alert-link' href='#{config.app.interconBaseURL}/pages/hotel/layout' target='_blank'>Hotel Layout</a> page
